<div class="container form-container-2 mt-5 text-center">

<%= simple_form_for(@venue) do |f| %>
  <%= f.input :title,
    input_html: { class: "input-blue-border", autocomplete: "first-name" }  %>

  <%= f.input :location,
  input_html: { class: "input-blue-border", autocomplete: "first-name" } %>
  <%= f.input :capacity,
  input_html: { class: "input-blue-border", autocomplete: "first-name" } %>
  <%= f.input :price,
  input_html: { class: "input-blue-border", autocomplete: "first-name" } %>
  <%= f.label :photos, "Photos*" %>
  <%= f.input :photos, as: :file, wrapper_html: { class: 'input-wrapper', multiple: true }, input_html: { class: 'd-none' }, label_html: { class: 'upload-photos'}, label: 'Upload photos'%>
  <%= f.submit class:"button_blue_outline mb-4"%>
<% end %>

</div>
