<div class="container">
  <div class="cards">
        <%@venues.each do |venue| %>
          <div class="card-trip">
             <%= cl_image_tag venue.photos.first.key, height: 300, width: 400, crop: :fill %>
            <div class="card-trip-infos">
              <div class= "card-text">
              <h2><%= venue.title %></h2>
              <p><%= venue.location %> <%= venue.capacity %></p>
              </div>
            <h2 class="card-trip-pricing"><%= venue.price %>€</h2>
            <%= cl_image_tag venue.user.avatar.key, crop: :fill, class:"card-trip-user avatar-bordered" %>
            </div>
          </div>
        <% end %>
    </div>
</div>
