<div class="container container-show">
  <div class="photo-section">
    <div class="main-img">
      <%= image_tag @venue.photos.first, class:'image-trigger' %>
    </div>
    <div class="secondary-photo-section-wrapper">
      <div class="secondary-photo-list">
        <%= image_tag @venue.photos.second ? @venue.photos.second : "https://images.pexels.com/photos/3171837/pexels-photo-3171837.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940", class:"small-photo" %>
        <%= image_tag @venue.photos.third ? @venue.photos.third : "https://images.pexels.com/photos/332688/pexels-photo-332688.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940", class:"small-photo" %>
        <%= image_tag @venue.photos.fourth ? @venue.photos.fourth : "https://okorueventhire.co.uk/assets/article-images/a35e4e8427/garden-party.jpg", class:"small-photo" %>
      </div>
      <div class="secondary-long-photo">
        <%= image_tag @venue.photos.fifth ? @venue.photos.fifth : "https://images.pexels.com/photos/2078071/pexels-photo-2078071.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"%>
      </div>
    </div>
  </div>
  <div class="info-booking">
    <div class="venue-info">
      <h2 class="text-center"><%= @venue.title %></h2>
      <div class="venue-info-header-info">
        <div class="venue-info-headers">
          <h3>Location: </h3>
          <h3>Capacity:</h3>
          <h3>Price:</h3>
          <h3>Bookings:</h3>
        </div>
        <div class="venue-info-description">
          <h4><%= @venue.location %></h4>
          <h4><%= @venue.capacity %></h4>
          <h4><%= @venue.price %></h4>
          <h4><%= @venue.bookings.count %></h4>
        </div>
      </div>
    </div>

    <div class="booking">
      <%= render 'bookings/form', venue: @venue, booking: @booking %>
    </div>
  </div>
</div>
